.WriteBase {
  color: #657b83;
  background-color: #fdf6e3;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  line-height: 24px;
  border: none;
  outline: none;
}

.WriteBase::selection {
  background-color: #eee8d5;
}

.Page {
  composes: WriteBase;
  padding: 0px 30px;
  flex: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.Textarea {
  composes: WriteBase;
  padding: 20px 0 0;
  width: 600px;
  resize: none;
}
